<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="finnishhyphenator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="manifest" href="manifest.json">

    <title>Sanat</title>
    <style>
        body,
        html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: ui-monospace;
        }
        #top-part {
            height: 30vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
        }
        #bottom-part {
            height: 60vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #images {
            height: 100%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .image {
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        #success {
            position: fixed;
            top: 0;
            left: 0;
            font-size: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.99);
        }
        #success > div {
            width: 100%;
            text-align: center;
            background-color: white;
        }
    </style>
</head>

<body>
<div id="vue-app">
</div>
<script type="template/html" id="template">
    <div id="app-wrapper">
        <div id="success" v-if="success !== null">
            <div v-if="success" style="color: green;">OI-KEIN!</div>
            <div v-else style="color: red;" >VÄÄ-RIN!</div>
        </div>
        <div id="top-part">
            <progress v-if="currentIndex >= 0 && (currentIndex < words.length)" style="width: 80vw;" :value="currentIndex" :max="words.length"></progress>
            <div v-else @click="loadNextWord">VOI-TIT PE-LIN!!</div>
            <div id="word">
                <div id="word-text">{{ text }}</div>
            </div>
        </div>
        <div id="bottom-part">
            <div id="images">
                <div v-for="image in images" :key="image.src" class="image" @click="imageClick(image)" :style="{
                    'background-image': 'url(' + image.src + ')'
                }">
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    class Client {
        constructor(id, apiKey) {
            if (!id) {
                throw new TypeError('Expected a Custom Search Engine ID');
            }

            if (!apiKey) {
                throw new TypeError('Expected an API key');
            }

            this.endpoint = 'https://www.googleapis.com';
            this.apiKey = apiKey;
            this.id = id;
        }

        async search(query, options) {
            if (!query) {
                throw new TypeError('Expected a query');
            }

            const url = `${this.endpoint}/customsearch/v1?${this.buildQuery(query, options)}`;

            const result = await axios.get(url);
            return result.data.items;
        }

        buildQuery(query, options) {
            options = options || {};

            const result = {
                q: query.replace(/\s/g, '+'),
                // excludeTerms: 'gun sex violence death angry anger food ase pyssy pistooli seksi alaston',
                searchType: 'image',
                cx: this.id,
                key: this.apiKey,
                rsz: "filtered_cse",
                num: 2,
                hl: "fi",
                safe: "active",
                cr: "countryFI",
                lr: "fi",
                gl: "fi",
                oq: query.replace(/\s/g, '+'),
                excludeTerms: "alkoholi alko kuollut kaadettu kirja metsästys mtvuutiset",
            };

            if (options.page) {
                result.start = options.page;
            }

            if (options.size) {
                result.imgSize = options.size;
            }

            if (options.type) {
                result.imgType = options.type;
            }

            if (options.dominantColor) {
                result.imgDominantColor = options.dominantColor;
            }

            if (options.colorType) {
                result.imgColorType = options.colorType;
            }

            if (options.safe) {
                result.safe = options.safe;
            }

            return new URLSearchParams(result).toString();
        }
    }
    var app = new Vue({
        el: '#vue-app',
        template: "#template",
        data: () => ({
            word: null,
            images: [{},{},{}],
            words: [
                "koira",
                "kissa",
                "talo",
                "auto",
            ],
            wordList: (
                "hiihtää luistella ratsastaa uida laastari silmälasit oranssi keltainen ratikka moottoripyörä kirkko meri peruna " +
                "saippua saippuakupla " + 
                "jogurtti täytekakku sipuli " +
                "hamsteri lammas kana kukko " + 
                "marsu undulaatti tipu ankka hanhi " +
                "akvaario lehmä hevonen kalkkuna varis harakka " +
                "poni sika vuohi talitiainen pöllö " +
                "sorsa papukaija muurahainen ilves jänis susi hämähäkki heinäsirkka hyttynen kettu karhu hirvi " +
                "sudenkorento ampiainen mato poro leijona tiikeri " +
                "sammakko käärme lisko leopardi kirahvi sarvikuono virtahepo elefantti apina villasukat " +
                "tossut hellehattu lippalakki sukat paita housut kengät sateenvarjo pipo lapaset tietokone hylly matto verhot kännykkä kamera ovi ikkuna seinä pöytä sohva nojatuoli lattia katto lamppu kaappi lipasto peitto tyyny pallo nukke kynä paperi teroitin päärynä omena hampurilainen makkara lasi muki voi juusto haarukka veitsi lusikka ketsuppi sinappi"
            ),
            client: null,
            success: null,
            imageCache: {},
        }),

        mounted() {
            this.words = this.words.concat(this.wordList.split(" "));
            // Sort words by length
            this.words.sort((a, b) => a.length - b.length);
            const query = new URLSearchParams(window.location.search);
            if (!query.has('nocache')) {
                window.location.search = '?nocache=' + Math.random();
            }
            // Remove nocache if it exists
            window.history.replaceState({}, document.title, window.location.pathname);
            this.initClient();
            this.loadNextWord();
            if (window.speechSynthesis) {
                speechSynthesis.getVoices();
            }
        },

        computed: {
            currentIndex() {
                return this.words.indexOf(this.word)
            },
            text() {
                return this.hyphenate(this.word);
            }
        },

        methods: {
            say(m) {
                const speak = (text) => {
                    let myText = (text || '').toLowerCase()
                    myText = myText.replace(/nn$/g, 'n');
                    myText = myText.replace(/mm$/g, 'm');
                    const utter = new SpeechSynthesisUtterance();
                    utter.lang = 'fi-FI';
                    utter.text = myText;
                    utter.rate = 0.5;
                    utter.pitch = 0.9;
                    speechSynthesis.cancel();
                    speechSynthesis.speak(utter);
                }

                if ((m || '').trim().length == 0) {
                    return;
                }
                speak(m)
            },
            result(result) {
                return new Promise((resolve) => {
                    this.success = result;
                    setTimeout(() => {
                        this.success = null;
                        resolve();
                    }, 1000);
                });
            },
            async imageClick(image) {
                console.log("Clicked image", image.word);
                if (image.word === this.word) {
                    this.result(true);
                    this.say(this.word)
                } else {
                    this.result(false);
                    this.word = this.words[this.currentIndex - 5];
                }
                this.loadNextWord();
            },
            hyphenate(word) {
                if (!word) {
                    return '';
                }
                const finHyph = new FinnishHyphenator();
                const ret = finHyph.hyphenateText(word);
                console.log("Hyphenated", word, ret);
                return ret;
            },
            async loadNextWord() {
                if (!this.word) {
                    this.word = this.words[0];
                } else {
                    const currentIndex = this.currentIndex;
                    this.word = this.words[currentIndex + 1];
                }
                await this.fetchImages();
            },
            async fetchImageThumbnail(word) {
                const wIx = this.words.indexOf(word)
                if (this.imageCache[wIx]) {
                    return this.imageCache[wIx];
                }
                const items = await this.client.search(word);
                if (items.length > 0) {
                    // // Select random from top 3
                    // let randomIndex = Math.floor(Math.random() * 3);
                    // if (randomIndex >= items.length) {
                    //     randomIndex = items.length - 1;
                    // }
                    const thumbnail = items[0].image.thumbnailLink;
                    this.imageCache[wIx] = thumbnail;
                    return thumbnail;
                }
                return ''
            },
            async fetchImages() {
                // Get two different words that are not the same as the current word
                const otherWords = this.words.filter(word => word !== this.word);
                // Randomize the order of the words
                otherWords.sort(() => Math.random() - 0.5);
                // Get the first two words
                const otherWord1 = otherWords[0];
                const otherWord2 = otherWords[1];

                const promises = [
                    this.fetchImageThumbnail(this.word),
                    this.fetchImageThumbnail(otherWord1),
                    this.fetchImageThumbnail(otherWord2),
                ];

                const thumbnails = await Promise.all(promises);
                console.log(thumbnails);

                for (const thumbnail of thumbnails) {
                    var im = new Image();
                    im.src = thumbnail;
                }

                const images = [
                    {
                        src: thumbnails[0],
                        word: this.word,
                    },
                    {
                        src: thumbnails[1],
                        word: otherWord1,
                    },
                    {
                        src: thumbnails[2],
                        word: otherWord2,
                    },
                ]
                // Randomize the order of the images
                images.sort(() => Math.random() - 0.5);
                this.images = images;
            },
            initClient() {
                this.client = new Client('0094db2db579343b9', 'AIzaSyATUT6iWvPVnbrrGQ5UDMgtBV455gVJnBk')
            }
        },
    });
</script>

</body>
</html>